img, .wp-caption {
    width: 100%;
    height: auto;
    max-width: 100%;
}


.wp-caption-text {
    text-align: center;
    font-size: 70%;
    border-width: 0px 0px 0px 0px;
    border-style: dotted;
    border-color: #e0e3e5;
    padding: 0.5em 0.5em 1em;
    line-height: 1.5em;
}

/*Homepage------------------------------------------------*/

.home #main a {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% auto;
    opacity: 1.0;
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    width: 300px;
}

.image {
    padding: 30px 30px;
    border-bottom: 1px solid #e0e3e5;
}

.image img {
    width: 100%;
    height: auto;
}

.home .image {
    padding: 0px 0px;
}

/*Contacto------------------------------------------------*/
.icons_contact {
    width: 10%;
}

/*Social------------------------------------------------*/

#social a{
    padding: 0px 10px;
    display: inline-block;
}

/*About -------------------------------------------------*/

.page-template-page-about-php .content img {

    width: 100%;
    height: auto;
    margin-bottom: 1em;
}


/*----------------------------------------------------------*/

a#about-me {
    background-image: url("../icons/icon-aboutme.png");
}

/*----------------------------------------------------------*/

a#works {
    background-image: url("../icons/icon-portfolio.png");
}

/*----------------------------------------------------------*/

a#contact {
    background-image: url("../icons/icon-contact.png");
}

/*----------------------------------------------------------*/

@media screen and (min-width: 0px) and (max-width: 340px) {

    .home .widget a {
        height: 175px;
    }

    .photo {
        padding: 0px 0em 0.5em;
    }

    .entry img, .photo img {
        max-width: 100%;
        height: auto;
        width: 100%;
    }

    #social {
        text-align: center;
        padding-right: 0px;
        padding-top: 1em;
    }
    #blogroll article .photo a {
        min-width: 175px;
        min-height: 175px;
    }

}

/*----------------------------------------------------------*/

@media screen and (min-width: 341px) and (max-width: 489px) {

    .home .widget a {
        height: 225px;
    }

    .photo {
        padding: 0px 0em 1em;
    }

    .instagram {
        text-align: center;
    }

    .entry img, .photo img {
        max-width: 100%;
        height: auto;
        width: 100%;
    }

    #social {
        text-align: center;
        padding-right: 0px;
        padding-top: 1em;
    }
    #blogroll article .photo a {
        min-width: 175px;
        min-height: 175px;
    }

}

/*----------------------------------------------------------*/

@media screen and (min-width: 490px) and (max-width: 769px) {

    .home .widget a {
        height: 275px;
    }

    .home .widget {
        border-right-color: #f4f4f4;
    }

    .instagram {
        text-align: center;
    }

    .photo {
        padding: 0px 0em 1em;
        text-align: center;
    }

    .photo img {
        max-width: 75%;
        height: auto;
        width: 75%;
    }

    .entry img {
        max-width: 100%;
        height: auto;
        width: 100%;
    }

    #social {
        text-align: center;
        padding-right: 0px;
        padding-top: 1em;
    }
    #blogroll article .photo a {
        min-width: 175px;
        min-height: 175px;
    }

}

/*----------------------------------------------------------*/

@media screen and (min-width: 770px) and (max-width: 1024px) {
    .home .widget a {
        height: 215px;
    }

    .entry img, .photo img {
        max-width: 100%;
        height: auto;
        width: 100%;
    }

    .photo {
        padding-right: 2em;
    }

    #social {
        text-align: right;
        padding-right: 20px;
    }
    #blogroll article .photo a {
        min-width: 100px;
        min-height: 100px;
    }

    #site-description #toggle {
        width: 25%;
    }

}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .home .widget a {
        height: 165px;
    }

    .photo {
        padding-right: 2em;
    }

    #social {
        text-align: right;
        padding-right: 20px;
    }
    #blogroll article .photo a {
        min-width: 175px;
        min-height: 175px;
    }

    .single-instagrams .content img{
        width: 75%;
        max-width: 768px;
    }

}

@media screen and (min-width: 1281px) {
    .home .widget a {
        height: 215px;
    }

    .entry img, .photo img {
        max-width: 100%;
        height: auto;
        width: 100%;
    }

    .photo {
        padding-right: 2em;
    }

    #social {
        text-align: right;
        padding-right: 20px;
    }

    #blogroll article .photo a {
        min-width: 175px;
        min-height: 175px;
    }

    .single-instagrams .content img{
        width: 75%;
        max-width: 768px;
    }


}

